<ul class="nav check bg-primary">
  <li class="nav-item text-center nav-header-main m-5"><u>Table Manager</u></li>
  <li class="nav-item text-center m-5">
  <div class="text-center nav-header-sub m-1">Create Table</div>
      <select id="table-count">
        <option value=2>2 Seats</option>
        <option value=4>4 Seats</option>
        <option value=6>6 Seats</option>
      </select>
    <button class="btn btn-info rounded-pill m-1 text-center p-1" id="create-table">Build</button>
  </li>
  <li class="nav-item check m-5">
      <button type="button" class="btn btn-info btn-lg nav-button-custom" id="ViewMenu" data-toggle="modal" isOccupy="{{availability}}"
      data-target="#View-Menu"> View Menu</button>
  </li>
  <li class="nav-item text-center m-5">
    <div class="color-slot bg-info m-1">Unoccupied</div>
    <div class="color-slot bg-danger m-1">Occupied</div>
    <div class="color-slot bg-warning m-1">Appetizer Served</div>
    <div class="color-slot bg-success m-1">Entree Served</div>
    <div class="color-slot m-1" style="background-color: whitesmoke;">Dessert Served</div>
  </li>
  <li class="nav-item text-center m-5 nav-header-sub" id="time"></li>
</ul>

<div class="all-tables">
  {{#each tables}}
    {{#if twoSeat}}
      <div class="table-container">
          <div class="container m-5">
              <div class="row">
                  <div class="col-sm-5"></div>
                  <div class="col-sm-2 check-table seat rounded"></div>
                  <div class="col-sm-5"></div>
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8 table rounded"> 
                      <button type="button" class="btn btn-info btn-{{color}} tableBtn table-button" id="{{id}}" data-toggle="modal" isOccupy="{{availability}}"
                      data-target="#Not-Occupied" data-id={{id}}>Table {{id}}</button>
                  </div>
                  <div class="col-sm-2"></div>
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-5"></div>
                  <div class="col-sm-2 check-table seat rounded"></div>
                  <div class="col-sm-5"></div>
              </div>
          </div>
      </div>
    {{/if}}
    {{#if fourSeat}}
      <div class="table-container check">
        <div class="container m-5">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2 check-table seat rounded-pill"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2 check-table seat rounded-pill"></div>
                <div class="col-sm-3"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 table table-color">
                  <button type="button" class="btn btn-info btn-{{color}} tableBtn table-button" id="{{id}}" data-toggle="modal" isOccupy="{{availability}}"
                  data-target="#Not-Occupied" data-id={{id}}>Table {{id}}</button>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2 check-table seat rounded-pill"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2 check-table seat rounded-pill"></div>
                <div class="col-sm-3"></div>
            </div>
        </div>
      </div>
    {{/if}}
    {{#if sixSeat}}
      <div class="table-container check">
        <div class="container m-5">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 check-table seat rounded-pill"></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 check-table seat rounded-pill"></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 check-table seat rounded-pill"></div>
                <div class="col-sm-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 table table-color">
                  <button type="button" class="btn btn-info btn-{{color}} tableBtn table-button" id="{{id}}" data-toggle="modal" isOccupy="0"
                  data-target="#Not-Occupied" data-id={{id}}>Table {{id}}</button>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 check-table seat rounded-pill"></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 check-table seat rounded-pill"></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 check-table seat rounded-pill"></div>
                <div class="col-sm-2"></div>
            </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>

{{!-- here is the setting of modal --}}

{{!-- Modal Occupied --}}
<div class="modal fade" id="Occupied" role="dialog">
  <div class="modal-dialog">


    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Table {{ table_name }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>


      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <h4 class="text-danger"><strong>Appetizer</strong></h4>
            <P>{{ Appetizer_dish_1 }}: {{ AppOneCount }}</P>
            <p>{{ Appetizer_dish_2 }}: {{ AppTwoCount }}</p>
            <p>{{ Appetizer_dish_3 }}: {{ AppThreeCount }}</p>
            <br>
            <h4 class="text-danger"><strong>Entre'</strong></h4>
            <P>{{ Entre_dish_1 }}: {{ EntOneCount }}</P>
            <p>{{ Entre_dish_2 }}: {{ EntrTwoCount }}</p>
            <p>{{ Entre_dish_3 }}: {{ EntrThreeCount }}</p>
            <br>
            <h4 class="text-danger"><strong>Desert</strong></h4>
            <P>{{ Desert_dish_1 }}: {{ DesOneCount }}</P>
            <p>{{ Desert_dish_2 }}: {{ DesTwoCount }}</p>
            <br>
          </div>
        </div>


        <div class="row">
          <div class="col" id="Appetizer">
            <button type="button" class="btn btn-lg btn-primary" id="btn-app">Appetizer</button>
          </div>
          <div class="col" id="Entre">
            <button type="button" class="btn btn-lg " id="btn-ent">Entre'</button>
          </div>
          <div class="col" id="Desert">
            <button type="button" class="btn btn-lg" id="btn-des">Desert</button>
          </div>
          <div class="col" id="clear">
            <button type="button" class="btn btn-lg btn-primary" id="clearBtn">Clear</button>
          </div>
        </div>
        <br>


      </div>
      <br>

    </div>
  </div>
</div>

{{!-- Modal Not Occupied --}}
<div class="modal fade" id="Not-Occupied" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Table {{ table_name }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class=" offset-md-3 col-md-7">
            <form>
              <h4 class="text-danger"><strong>Appetizer</strong></h4>
              {{#each Appetizers}}
              <li>{{ item }}: <input class="app-order" type="text" size="4" data-menu={{item}}></li>
              {{/each}}

              <br><br>

              <h4 class="text-danger"><strong>Entre'</strong></h4>

              {{#each Entres}}
              <li>{{ item }}: <input class="entree-order" type="text" size="4" data-menu={{item}}></li>
              {{/each}}
              <br><br>

              <h4 class="text-danger"><strong>Desert</strong></h4>

              {{#each Deserts}}
              <li>{{ item }}: <input class="dessert-order" type="text" size="4" data-menu={{item}}></li>
              {{/each}}
              <br><br>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="submitOrderBtn">Finish Order &
                Submit</button>
            </form>

            <br>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{{!-- Modal for Restaurant Menu --}}
<div class="modal fade" id="View-Menu" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Our Menu</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-danger"><strong>Appetizer</strong></h4>
            <ul>
              {{#each Appetizers}}
              <li>{{ item }}, Price: {{ price }},Cook Time: {{ cook_time }}</li>
              {{/each}}
            </ul>

            <br>
            <h4 class="text-danger"><strong>Entre'</strong></h4>
            <ul>
              {{#each Entres}}
              <li>{{ item }}, Price: {{ price }},Cook Time: {{ cook_time }}</li>
              {{/each}}
            </ul>

            <br>
            <h4 class="text-danger"><strong>Desert</strong></h4>
            <ul>
              {{#each Deserts}}
              <li>{{ item }}, Price: {{ price }},Cook Time: {{ cook_time }}</li>
              {{/each}}
            </ul>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col" id="AddNewDish">
            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#Add-Menu">Add New
              Dish(s)</button>
          </div>
          <div class="col" id="DeleteDish">
            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#Delete-Menu">Delete
              Dish</button>
          </div>
        </div>
        <br>


      </div>
      <br>

    </div>
  </div>
</div>

{{!-- Modal for Add New Dish --}}
<div class="modal fade" id="Add-Menu" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Dish(s)</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form>
          Dish Name: <input type="text" size="30" id="AddDishName"><br><br>
          Category: <select id="AddCategory">
            <option value="null"></option>
            <option value="Appetizer">Appetizer</option>
            <option value="Entre">Entre'</option>
            <option value="Desert">Desert</option>
          </select><br><br>
          Price: <input type="text" size="4" id="AddPrice"><br><br>
          Cook Time: <input type="text" size="10" id="AddCookTime" placeholder="minutes">
          <br><br>
          <button type="button" class="btn btn-default" id="submitAddDish">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- Modal for delete Dish from menu --}}
<div class="modal fade" id="Delete-Menu" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Dish(s)</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">

        <form id="formTest2">
          What Dish you want to delete? <br><br>
          <select id="delete-dish">
            <option value="null">---Appetizer---</option>
            {{#each Appetizers}}
            <option id={{id}}>{{ item }}</option>
            {{/each}}
            <option value="null">---Entre'---</option>
            {{#each Entres}}
            <option id={{id}}>{{ item }}</option>
            {{/each}}
            <option value="null">---Desert---</option>
            {{#each Deserts}}
            <option id={{id}}>{{ item }}</option>
            {{/each}}
          </select><br><br>
          <button type="button" class="btn btn-default" id="submitDelete">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>